@()

@main("Welcome to Play") {
  <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../webapp/css/default.css">
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color:#2980B9; height:100px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ><p style="color: cornsilk;">School-Gess</p></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#" style="color: cornsilk;">Admin</a></li>
    </ul>

    
    
  </div>
</nav>
<section>
  <div style=" display: flex;"> 
  <div style="margin-left: 100px; margin-top: 50px;
  flex: 1; 
  padding: 1em;
    
  ">
  <h1>School-Gess</h1>
   <p>Lorem ipsum dolor sit amet, consectetur </p>
   <p>adipiscing elit, sed do eiusmod </p>
   <p>incididunt ut labore</p>
   <a href="Interface">
   <button type="button" class="btn btn-success">Start</button></a>
  </div>
  <div style="flex: 1; 
  padding: 1em;
  margin-top: 75px;
 "> 
  <img src="https://cdn1.iconfinder.com/data/icons/school-and-education-84/64/School-512.png" class="img-rounded" alt="Cinque Terre" style="width: 300px; height: 250px;" > 
  </div>
</div>
   
</section>
<!-- Footer -->
<footer style="position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color:#2980B9;
    color: white;
    text-align: center;">
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 Copyright:Usman Jah
  
  </div>
  <!-- Copyright -->
</footer>


<!-- Footer -->
</body>
</html>
}
